.heading {
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.04em;
}

.level1 {
  font-size: 1.7rem;
  color: var(--dos-yellow);
}

.level2 {
  font-size: 1.3rem;
}

.level3 {
  font-size: 1.15rem;
}

.level4,
.level5,
.level6 {
  font-size: 1rem;
}
