.heading {
  color: var(--dos-text-color, inherit);
  font-weight: var(--dos-text-weight, inherit);
  line-height: var(--dos-text-line-height, inherit);
  letter-spacing: var(--dos-text-tracking, inherit);
}

.level1 {
  font-size: var(--dos-text-h1-size);
}

.level2 {
  font-size: var(--dos-text-h2-size);
}

.level3 {
  font-size: var(--dos-text-h3-size);
}

.level4,
.level5,
.level6 {
  font-size: var(--dos-text-h4-size);
}
