.fileControl {
  min-width: 0;
  align-items: center;
}

.nested .fileControl {
  padding-left: 16px;
}

.name {
  flex: 1 1 auto;
  min-width: 0;
  overflow: hidden;
  padding: 2px 1px;
  margin: -2px -1px;
  text-overflow: ellipsis;
}

.icon {
  --dos-icon-outline: var(--dos-dark-gray);
  flex: 0 0 auto;
  align-self: center;
}

.outline {
  fill: var(--dos-icon-outline);
}

.type,
.size {
  color: var(--dos-dark-gray);
}

.dir .type {
  color: var(--dos-black);
}

.exe .type {
  color: var(--dos-red);
}

.size {
  text-align: right;
}
