.inboxTable col:first-child {
  width: 32px;
}

.inboxTable thead th:first-child {
  padding-left: 4px;
  padding-right: 0;
}

.inboxTable tbody td:first-child {
  padding-right: 0;
}

.inboxRow {
  border-bottom: 1px solid var(--dos-light-gray);
}

.inboxRow > td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.statusCell {
  vertical-align: middle;
}

.mailIcon {
  display: flex;
  align-items: center;
  width: max-content;
}
